body{
  font-family: Verdana;
  height: 100%;
}

@media screen and (min-width:768px) {
 .navbar {
        border-radius: 0;
        margin-bottom: 0;
    }
    .navbar-default{
        padding-top: 0;
        border: none;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }

    .nav>li>a {
        padding: 30px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.10em;
    }
}
.navbar-nav {
    font-weight: 400;
    letter-spacing: 3px;
  }
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
.wrapper {
  margin: 0 auto;
  max-width: 80%;
  padding: 10px;
  padding-top: 20px;
}

form label {	
	padding-top: 5px;
}

video {
	max-width: 100%;
  padding: 2%;	
}

.entry {
    border: 1px solid;
    margin: 10px;
    padding: 10px;
}

.about {
  margin: 2%;
  min-width: 50%;
}
#piccu {
  border: 0.5px solid grey;
  padding: 3%;
  margin-top: 6%;
}
.cv {
  border: 2px solid grey;
  margin: 2%;
  padding: 1%;
  max-width: 50%;
  margin-top: 7%;
  min-width: 50%;
}
p {
  width: 70%;
  text-align: center;
}
.abbt {
  margin-bottom: 15px;
  max-width: 50%;
  margin: 2%;
  padding: 5px;
}
.form {
  max-width: 50%;
  margin-bottom:70%;
  margin-top: 20%;
  margin: 2%;
}
